/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 21, 2021, 11:04:57 AM
    Author     : LAPTOP D&N
*/
.banner {
    height: 14vw;
    background-image: url(https://i.postimg.cc/BZmgq0fT/pexels-dmitriy-ganin-7538060.jpg);
    text-align: center;
    margin: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner .te {
    padding: 5%;
}

.banner span {
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.main {
    padding-left: 70px;
    padding-top: 42px;
    padding-bottom: 75px;
    display: flex;
    flex-flow: row wrap;
    float: left;
}

.menu {
    font-size: 24px;
    line-height: 38px;
    color: black;
}

.menu form input {
    margin: 0px;
    height: 70px;
    width: 276px;
    border-radius: 0px;

    /* text-align: center; */
    font-size: 20px;
    border: rgb(196, 193, 193) solid 2px;
    padding-left: 10px;
}

.menu span {
    padding-left: 40px;
    margin: 0px;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    margin-top: 40px;
    margin-bottom: 38px;
    display: block;
}

.menu ul {
    margin: 0;
    padding: 0;
    padding-left: 40px;
}

.menu ul li {
    margin: 10px 0px;
    font-size: 20px;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: black;
}

.image {
    margin-top: 40px;
    margin-left: 11cm;
}

.image img {
    width: 100%;
}

.detail{
    margin-right: 50px;
    margin-left: 50px;
    
}
.title {
    display: flex;
    flex-flow: row wrap;
    text-align: left;
    padding-left: 11cm;
    margin-top: 45px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 45px;
    line-height: 47px;
    color: #000000;
}

.title h1 {
    width: calc(100% - 60px);
}

.title .edit-button-block {
    margin-left: auto;
    width: min-content;
}

.edit-button {
    display: block;
    box-shadow: 0 0 5px #999;
    padding: 10px 12px 8px 14px;
    border-radius: 100px;
    width: max-content;
}

.edit-button img {
    display: block;
    margin-bottom: 5px;
}

.edit-button:hover {
    transition: .2s;
    box-shadow: 0 0 3px #999;
}

.edit-button:active {
    transition: .2s;
    box-shadow: 0 0 2px #999;
}

.content {
    margin-top: 25px;
    text-align: left;
    padding-left: 400px;
    padding-right: 200px;
    padding-left: 11cm;
    color: #8c8c8c;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 81px;
}


