.banner {
    height: 14vw;
    background-image: url(https://i.postimg.cc/BZmgq0fT/pexels-dmitriy-ganin-7538060.jpg);
    text-align: center;
    margin: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner .te {
    padding: 5%;
}

.banner span {
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.main {
    padding-left: 70px;
    padding-top: 42px;
    padding-bottom: 75px;
    display: flex;
    flex-flow: row wrap;
}

.menu {
    font-size: 24px;
    line-height: 38px;
    color: black;
}

.menu form input {
    margin: 0px;
    height: 70px;
    width: 276px;
    border-radius: 0px;

    /* text-align: center; */
    font-size: 20px;
    border: rgb(196, 193, 193) solid 2px;
    padding-left: 10px;
}

.menu span{
    padding-left: 40px;
    margin: 0px;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    margin-top: 40px;
    margin-bottom: 38px;
    display: block;
}

.username {
    color: #62B13E;
}

.menu ul{
    margin: 0;
    padding: 0;
    padding-left: 40px;
}

.menu ul li {
    margin: 10px 0px;
    font-size: 20px;
    list-style: none;
}

.menu ul li a {
    text-decoration:none;
    color: black;
}
.boxBorder {
    padding-left: 93px;
    flex: 1;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

.box1 {
    width: 430px;
    text-align: center;
    margin-right: 65px;
    margin-bottom: 22px;
    
    box-shadow: 0 0 10px #ccc;
    text-decoration: none;
}

.box1:hover {
    transition: .2s;
    box-shadow: 0 0 5px #999;
    cursor: pointer;
}

.box1:active {
    transition: .2s;
    box-shadow: 0 0 2px #999;
}

.box1 div:nth-child(1) {
    padding: 20px;
}

.boxBorder .row .box1 .image1 {
    height: 363px;
}

.boxBorder .row .box1 .text {
    margin-top: 20px;
}

.boxBorder .row .box1 .text h4 {
    font-size: 20px;
    margin-bottom: 6px;
    color: black;
}

.boxBorder .row .box1 .text p {
    font-size: 18px;
    line-height: 38px;  
    color: #BFBFBF;
}

.pagination {
    margin-left: auto;
    margin-right: 102px;
    margin-top: 83px;
    width: max-content;
}

.pagination a {
    width: 58px;
    height: 58px;
    text-align: center;
    line-height: 58px;
    text-decoration: none;
    background: #c4c4c4;
    margin-left: 31px;
    font-weight: bold;
    font-size: 25px;
    color: white;
}

.pagination .current {
    background-color: #62B13E;
}
