/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 11, 2021, 11:35:02 PM
    Author     : LAPTOP D&N
*/
.pagination {
    margin-left: auto;
    margin-right: 102px;
    margin-top: 83px;
    width: max-content;
}

.pagination a {
    width: 58px;
    height: 58px;
    text-align: center;
    line-height: 58px;
    text-decoration: none;
    background: #c4c4c4;
    margin-left: 31px;
    font-weight: bold;
    font-size: 25px;
    color: white;
}

.pagination .current {
    background-color: #62B13E;
}


